body {
    margin: 0;
}

table tr td:hover {
    background-color: #424949;
}

.removing tr td:hover {
    background-color: #424949;
}

.wall {
    transition: transform 100ms ease;
    background-color: #424949;
}

.visited {
    background-color: #DBF9F4;
}

.visiting {
    background-color: #E6FDFF;
}

.path {
    transition: transform 100ms ease;
    transform: scale(0.5);
    background-color: #822E81 !important;
    border-radius: 50%;
}

.end {
    background-color: inherit;
    background-size: contain;

}